*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Mulish', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  color: rgb(51,51,51);
}
button{
  font-family: 'Space Grotesk', sans-serif;
}
path,i,svg{
  pointer-events: none;
}
.colors{
  min-height: 80vh;
  display: flex;
  color: rgb(214, 214, 214);
}
.color{
  min-height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position:relative;
  overflow: hidden;
}
.color h2 {
  font-size: 2rem;
  cursor: pointer;
}
.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: white;
  opacity: 0;
  width: 80%;
  padding: 1rem;
  border-top-right-radius: 1rem;
  pointer-events: none;
  border-top-left-radius: 1rem;
  /* We are adding an adjustment class */
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}
.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.controls {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}
.panel button{
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
}
.panel p {
  font-size: 1.2rem;
}
.library-panel, .generate-panel, .save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust, .lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Slider style */
input[type="range"]{
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container, .save-container, .library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-popup, .save-popup, .library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.5rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-Popup h4, .save-popup h4, .library-popup h4{
  font-size: 2.5rem;
  padding: 2rem;
}

.copy-container.active, .save-container.active, .library-container.active {
  opacity: 1;
  pointer-events: all;

}

.copy-popup.active, .save-popup.active, .library-popup.active {
  transform: translateY(0rem);
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}
.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: rgb(60, 60, 92);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
  border-radius: 1.5rem;
}
.custom-palette{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}
.small-preview{
  display: flex;
  flex: 1;
}
.custom-palette h4{
  flex: 1;
}
.small-preview div {
  height: 5rem;
  flex: 1;
}
.pick-palette-btn {
  height: 5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(68, 68, 68);
  color: white;
}
.del-palette-btn {
  height: 5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(150, 149, 149);
  color: rgb(250, 52, 52);
}
.close-library{
  border-top-right-radius: 0rem;
}